# Dependencies
node_modules/

# Environment
.env
apps/api/.env
apps/mobile/.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
