# Dependencies
node_modules/

# Environment
.env
apps/api/.env
apps/mobile/.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/android/local.properties

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
